
.header-disney {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    background-color: black;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    z-index: 9999;
}

.header-disney nav{
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    align-items: center;
    align-content: center;
}
.header-disney nav .container-logo{
    margin: 0px 20px;
}
.header-disney nav ul {
    display: flex;
    margin: 0px 5px;
    padding: 0;
    list-style: none;
    height: 100%;
    align-items: center;
}

.header-disney nav ul li { 
    margin-right: 10px;
 }

.header-disney nav ul li:hover {
    /* A terminar... */
    text-decoration: underline;
    text-size-adjust: 20px;
}

.header-disney nav ul li * {
    color: white;
    text-decoration: none;
}

.container-logo { 
    width: 80px;
    margin: 2px; 
}

.container-logo img { width: 100%; }

header.header-disney nav ul li * {
    text-decoration: none;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'metropolisbold';
}

nav {
    margin-left: 50px;
}

header.header-disney nav ul li svg {
    font-size: 17px;
    margin-right: 8px;
}

header.header-disney nav ul li a {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

header.header-disney nav ul li a:before {
    content: "";
    position: absolute;
    bottom: -7px;
    height: 2px;
    left: 24px;
    background: white;
    width: 0;
    transition: all 0.3s ease-out;
    opacity: 0;
}


header.header-disney nav ul li a {
    position: relative;
}

header.header-disney nav ul li a:hover:before {
    width: calc(100% - 24px);
    opacity: 1;
}

.userAvatar {
    width: 50px;
    float: right;
}

.userAvatar img {
    width: 100%;
}

.userAvatar button {
    background: none;
    border: none;
    padding: 0px;
}

header.header-disney nav {
    height: 100%;
    float: left;
}

.header-spacer{
    height: 74px;
}

/*----- ANIMATIONS -----*/


  