@font-face {
  font-family: 'metropolisbold';
  src: url('../fonts/metropolis-bold-webfont.woff2') format('woff2'),
       url('../fonts/metropolis-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'metropolisregular';
  src: url('../fonts/metropolis-regular-webfont.woff2') format('woff2'),
       url('../fonts/metropolis-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'metropolissemi_bold';
  src: url('../fonts/metropolis-semibold-webfont.woff2') format('woff2'),
       url('../fonts/metropolis-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #282c34;
  color: aliceblue;
  min-height: 100vh;
}

/* Added by dev. */
.login-child{
  margin: 2px 0px;
}

.avatar-container {
  display: flex;
  justify-content: center;
}
.loader-container{
  justify-content: center;
  align-content: center;
}
.general-container {
  min-height: calc(100vh - 309px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: start;
  align-items: center;
  margin: 5px 0px;
}

.signin-content-container {
  min-height: calc(100vh - 235px);
  float: left;
  width: 100%;
}

.brands-list-container{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  width: 90%;
}

.brands-list-container div{
  margin: 0px 5px;
}

p,a,span,h1,h2,h3,h4 {
  font-family: 'metropolisregular';
}

/* Quitar después */
.border{ border: solid 5px blueviolet; }