article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 90vw;
  /* background: rgba(125,125,125,0.5); */
  z-index: 1;
}

article div{
  margin: 10px 0px;
}

.movie-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
  align-content: flex-start;
}

.poster-container img {
  height: 300px;
}

.info-details h4{
  margin: 0px;
  margin-block-start: 10px;
  margin-block-end: 0px;
}

.info-details{
  width: 60%;
}

.info-details *{
  margin: 5px 0px;
}

.tags-container{
  display: flex;
  justify-content: space-evenly;
  justify-items: space-evenly;
  align-content: center;
  align-items: center;
}

button.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonBase-root.Mui-disabled.css-1vbvugf-MuiButtonBase-root-MuiButton-root{
  text-decoration: solid;
  background-color: #31343E;
  border: none;
  color: rgba(255, 255, 255, 1);
  padding: 0px;
}

.poster-container { margin-left: 10%; }

.circular-button{
  /* Volver los botones redondos strictly */
}

.button-watch{
  background-color: #F9F9F9;
  color: #1A1D29;
  border: none;
}

.tabs{
  width: 100%;
}

.background-img{
  position: fixed;
  top: 64.4px;
  right: 0px;
  z-index: 0;
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
}

.movie-container{
  background: rgb(26, 29, 41);
  background: linear-gradient(90deg, rgba(26,29,41,1) 0%,rgba(75,78,90,0.13769257703081228) 30%, rgba(30,33,45,0.7035189075630253) 90%,rgba(26,29,41,1) 100%);
}