article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 90vw;
  background-color: rgba(125,125,125,125,0.6);
}

article * {
  margin: 10px 0px;
}

.movie-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
  align-content: flex-start;
}

.poster-container img {
  height: 300px;
}

.info-details h4{
  margin: 0px;
  margin-block-start: 10px;
  margin-block-end: 0px;
}

.info-details{
  width: 60%;
}

.info-details *{
  margin: 5px 0px;
}

.movie-container{
  background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
}

.tags-container{
  display: flex;
  justify-content: space-evenly;
  justify-items: space-evenly;
  align-content: center;
  align-items: center;
}

button.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonBase-root.Mui-disabled.css-1vbvugf-MuiButtonBase-root-MuiButton-root{
  text-decoration: solid;
  background-color: #31343E;
  border: none;
  color: rgba(255, 255, 255, 1);
  padding: 0px;
}

.circular-button{
  /* Volver los botones redondos strictly */
}

.button-watch{
  background-color: #F9F9F9;
  color: #1A1D29;
  border: none;
}

.tabs{
  width: 100%;
}