article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 90vw;
}

.movie-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: start;
  align-content: start;
}

.poster-container img {
  height: 300px;
}