
.header-disney {
    float: left;
    width: 100%;
    background-color: black;
    display: flex;
    padding: 10px 20px;

}

.header-disney navbar{
    display: flex;
    width: 100%;
    margin-left: 10px;
}
.header-disney navbar .container-logo{
    margin: 0px 20px;
}
.header-disney navbar ul {
    display: flex;
    margin: 0px 5px;
    padding: 0;
    list-style: none;
    height: 100%;
    align-items: center;
}

.header-disney navbar ul li { 
    margin-right: 10px;
 }

.header-disney navbar ul li:hover {
    /* A terminar... */
    text-decoration: underline;
    text-size-adjust: 20px;
}

.header-disney navbar ul li * {
    color: white;
    text-decoration: none;
}

.container-logo { 
    width: 80px;
    margin: 2px; 
}

.container-logo img { width: 100%; }


/*----- ANIMATIONS -----*/


  