.App {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #282c34;
  color: aliceblue;
  height: 100vh;
}

/* Added by dev. */
.login-child{
  margin: 2px 0px;
}

.avatar-container {
  display: flex;
  justify-content: center;
}

.general-container {
  min-height: calc(100vh - 309px);
  float: left;
  width: 100%;
}